<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Bookstore - {{ pageTitle }}</title>
    <link rel="stylesheet" href="/app/src/Assets/Admin/css/style.css">
</head>
<body>

<div class="header">
    <h1>"Simple Bookstore" - {{ pageTitle }}</h1>
</div>

<div class="content">

    <div class="catalog">
        <div class="catalog-actions">
            <div class="catalog-action-add"><a href="/admin/dashboard/products/add">Add product</a></div>
        </div>
        <table>
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td class="catalog-product-id">{{ product.id }}</td>
                    <td class="catalog-product-name"><a href="/admin/dashboard/products/info?id={{ product.id }}">{{ product.name }}</a></td>
                    <td class="catalog-product-img"><img src="{{ product.image }}" alt=""></td>
                    <td class="catalog-product-description">{{ product.description }}</td>
                    <td class="catalog-product-price">${{ product.price }}</td>
                    <td class="catalog-product-category">{{ categories[product.categoryId] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<div class="footer"></div>

</body>
</html>